body {
    margin: 0;
    width: 100%;
    display: unset;
    place-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.tabela{
    background-color: rgb(39, 39, 39);
    height: 789px;
}
.h1-ListCategories{
    margin: 20px 0;
    color: #fff;
}
.btnLink{
    text-decoration: unset;
    color: #000;
    text-decoration: none;
}
.btnLink:hover{
    color: unset;
    color: #000;
}
.btnLinkList{
    text-decoration: unset;
    color: #fff;
    text-decoration: none;
}
.btnLinkList:hover{
    color: unset;
}
.aling-buttons{
    display: flex;
    justify-content: space-between;
}
.button-width{
    width: 180px;
    margin-bottom: 10px;
}
.icon-listplus{
    margin-left: 5px;
}